# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_HOST=localhost
DB_NAME=swimming_pool_grupo_3
DB_USER=root
DB_PASS=
DB_PORT=3306

# --- RUTAS DE LA APP ---
# Para las llamadas a controladores y redirecciones (Lógica)
APP_URL=http://localhost/gestion-natacion-grupo-3/

# Para cargar JS, CSS e Imágenes (Assets)
# Aquí incluimos la carpeta 'public' para que el HTML sea limpio
ASSET_URL=http://localhost/gestion-natacion-grupo-3/public/


# --- CONFIGURACIÓN DE CORREO (PHPMailer) ---
# Si usas Gmail, el host es smtp.gmail.com
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=unlzgrupo3@gmail.com
MAIL_PASSWORD="--------"
MAIL_FROM=unlzgrupo3@gmail.com
MAIL_FROM_NAME=