
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{
    font-family:'Montserrat', sans-serif;
    overflow-x:hidden;
    background:#001826;
}


/*es el hero principal*/

.hero{

    min-height:100vh;

    background-image:
        linear-gradient(
            rgba(0, 30, 45, 0.45),
            rgba(0, 30, 45, 0.45)
        ),
        url('/Gestion-Natacion-Grupo-3/public/imglanding/swim-bg.jpg');

    background-size:cover;
    background-position:center;

    position:relative;
}



.custom-navbar{
    padding-top:25px;
    z-index:10;
}


/*logo*/

.logo-text{

    color:white !important;

    font-size:2rem;
    font-weight:700;

    line-height:1;
}


/*links*/

.nav-link{

    color:white !important;

    font-size:1.1rem;
    font-weight:500;

    transition:0.3s;
}

.nav-link:hover{
    color:#7BE7FF !important;
}


/*boton para loguearse*/

.login-btn{

    border:2px solid white;

    color:white;

    border-radius:40px;

    padding:10px 24px;

    transition:0.3s;
}

.login-btn:hover{

    background:#49D9FF;

    border-color:#49D9FF;

    color:white;
}





/*contenido del hero*/
.hero-content{

    position:absolute;

    top:50%;
    left:18%;

    transform:translateY(-50%);
}


/*LINEAS DECO*/

.hero-top-line,
.hero-bottom-line{

    width:180px;
    height:4px;

    background:white;

    border-radius:50px;
}

.hero-top-line{
    margin-bottom:30px;
}

.hero-bottom-line{
    margin-top:25px;
}




/*Titulo*/
.hero-title{

    color:white;

    font-size:8rem;

    font-weight:800;

    line-height:0.9;

    letter-spacing:5px;

    text-shadow:0 5px 20px rgba(0,0,0,0.35);
}


/*subtitulo*/

.hero-subtitle{

    color:white;

    font-size:1.5rem;

    font-weight:700;

    letter-spacing:3px;

    margin-top:25px;
}


/*Boton*/

.hero-button{

    display:inline-block;

    margin-top:40px;

    background:#49D9FF;

    color:white;

    text-decoration:none;

    padding:15px 38px;

    border-radius:50px;

    font-weight:700;

    transition:0.3s;
}

.hero-button:hover{

    background:white;

    color:#0099CC;

    transform:translateY(-3px);
}


/*secciones generales*/

.info-section,
.about-section,
.contact-section{

    padding:100px 20px;

    background:#001826;

    color:white;

    text-align:center;
}


/*titulo secciones*/
.section-title{

    font-size:3rem;

    margin-bottom:50px;

    color:#7BE7FF;

    font-weight:700;
}


/*TARJETAS*/
.info-cards{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;
}


.info-card{

    width:320px;

    background:rgba(255,255,255,0.06);

    border:1px solid rgba(255,255,255,0.12);

    border-radius:25px;

    padding:35px;

    
}





.info-card h3{

    color:#7BE7FF;

    margin-bottom:20px;

    font-size:1.8rem;
}


.info-card p{

    line-height:1.8;
}


/*ACERCA DE NOSOTROS*/

.about-section{

    padding: 230px 20px;

    background:linear-gradient(
        135deg,
        #0A3A52,
        #125D79
    );

    color:white;

    text-align:center;
}
.about-text{

    max-width:900px;

    margin:auto;

    font-size:1.2rem;

    line-height:2;
}


/*CONTACTO*/

.contact-info p{

    margin:20px 0;

    font-size:1.2rem;
}


.contact-info a{

    color:white;

    text-decoration:none;

    transition:0.3s;
}


.contact-info a:hover{

    color:#7BE7FF;
}






@media(max-width:992px){

    .hero-content{
        left:10%;
    }

    .hero-title{
        font-size:5rem;
    }
}


@media(max-width:768px){

    .hero-content{

        left:50%;

        width:90%;

        transform:translate(-50%, -50%);

        text-align:center;
    }

    .hero-title{
        font-size:3.5rem;
    }

    .hero-subtitle{
        font-size:1rem;
    }

    .hero-top-line,
    .hero-bottom-line{

        margin-left:auto;
        margin-right:auto;

        width:100px;
    }

    .section-title{
        font-size:2.2rem;
    }

    .about-text{
        font-size:1rem;
    }

}